<!doctype html>
<html>
	<head>
	<title> Elecciones Generales </title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="public/stylesheets/test1.css">
		
	</head>

	<body>
		<img src="public/images/Client.jpg" class="imggb"/>
		<div>
		<h1> Elecciones Generales </h1>
			
		<h4>Elija su voto</h4>
			
			<form class="Lista">
			  <input type="radio" name="rd" value="male" checked> Partido Popular
			  <br>
			  <br>
			  <input type="radio" name="rd" value="female"> Partido Socialista Obrero Español
			  <br>
			  <br>
			  <input type="radio" name="rd" value="female"> Ciudadanos
			  <br>
			  <br>
			  <input type="radio" name="rd" value="female"> Podemos
			  <br>
			  <br>
			  <input type="radio" name="rd" value="female"> UPyD
			  <br>
			  <br>
			  <input type="radio" name="rd" value="female"> Vox
			  <br>
			  <br>
			  <input type="radio" name="rd" value="female"> Unidad Popular
			</form> 

			<div class="wrapper">
    			<button class="button">Enviar</button>
			</div>

		</div>
	</body>

</html>