<!doctype html>
<html>
	<head>
	<title> Elecciones Generales </title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="public/stylesheets/test1.css">
		
	</head>

	<body>
		<img src="public/images/Client.jpg" class="imggb"/>
		<div>
		<h1> Elecciones Generales </h1>
		<p>Bienvenido a la página de la votación de las elecciones generales</p>
			
		<h4>Entre de forma totalmente segura</h4>
			<blockquote><p>Usuario</p></blockquote>

			<form action="demo_form.asp">
 			 <input type="text" name="fname" class="ipt" ><br>
  			

			<blockquote><p>Contraseña</p></blockquote>
			<input type="text" name="lname" class="ipt"><br>
 			
			</form>

			<div class="wrapper">
    			<button class="button">Enviar</button>
			</div>

		</div>
	</body>

</html>